*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    width: 100vw;
}

.realgame{
    width: 100%;
    height: 100%;
}

.menu{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 15px;
    border: 2px black solid;
    border-radius: 8px;
    text-align: center;
}

button{
    margin-top: 4px;
    border: 1px black solid;
    border-radius: 4px;
    padding: 4px;
}

button:hover{
    color: white;
    background-color: black;
}

.playpage{
    height: 100%;
    width: 100%;
}

.header{
    width: 100%;
}

.clickes{
    /* width: 100%; */
    height: 85%;
}

.ball{
    position: relative;
    background-color: black;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.endgame {
    margin-bottom: 8px;
}
